@font-face {
	font-family: 'MyWebFont';
	src: url('../font/roboto/Roboto-Bold.eot') format('eot');
	src: url('../font/roboto/Roboto-Bold.ttf') format('ttf'),
		url('../font/roboto/Roboto-Bold.woff2') format('woff2'),
		url('../font/roboto/Roboto-Light.woff') format('woff'),
		url('../font/roboto/Roboto-Medium.woff2') format('woff2')
}

body {
	margin: 0 auto;
	box-sizing: border-box;
	padding-bottom: 700px;
	position: relative;
}

.wrapper_class {
	position: relative;
	background-color: #fff;
	z-index: 200;
}

.header {
	position: relative;
	height: 100vh;
	min-height: 700px;
	width: 100%;
	background: url("../img/bg.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	opacity: .95;
}

.header__flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px; 
}

.logo a {
	text-decoration: none;
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	font-family: 'Red Hat Display',
	sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	background: #2E2F45;
	display: table;
	border-radius: 5px;
	mix-blend-mode: multiply;
	padding: 10px 20px;
	cursor: grab;
}


nav {
	background:inherit;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu li {
	float: left;
}

.menu li a {
	display: inline-block;
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	padding: 10px 15px;
	text-decoration: none;
	color: #D3CBCB;
	text-transform: uppercase;
	font-weight: 600;
	position: relative;

}

.menu li a:after {
	display: block;
	position: absolute;
	height: 2px;
	left: 50%;
	width: 0;
	background-color: #D3CBCB;
	content: "";
	transition: width 0.3s ease-out;
	transform: translateX(-50%);

}

.menu li a:hover:after,
.menu li a:focus:after {
	width: 100%;
}

.menuToggle {
	font-weight: 600;
	padding: 10px 15px;
	cursor: pointer;
	display: none;
}

.menuToggle img {
	width: 40px;
	color: #fff;
}

body {
	height: 100%;
}

.header__nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.header__nav a {
	display: block;
	font-family: 'Barlow', sans-serif;
	line-height: 65px;
	font-size: 15px;
	margin-right: 20px;
	text-decoration: none;
	color: #D3CBCB;
	transition: color 0.3s ease;
	text-transform: uppercase;
	font-weight: 600;
}

.header__nav a:hover {
	color: #fff;
}

.header__nav a:focus {
	color: #fff;
}

.offer {
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
}
.arrow-down {
	position: absolute;
	bottom: 10px;
	left: 10%;
}

.offer h1 {
	font-family: 'Dancing Script', cursive;
	display: block;
	font-weight: bold;
	font-size: 120px;
	color: #fff;
	text-align: center;
}  

.offer button {
	display: block;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 10px;
	padding: 20px 50px;
	box-sizing: border-box;
	color: #fff;
	background-color: inherit;
	border: 2px solid #fff;
	transition: background-color 0.3s ease-in;
	outline: none;
	cursor: pointer;
} 

.offer button:active {
	box-shadow: inset 0 0 0 3px #fff;
	outline: none;
}

.offer button:hover {
	background-color: rgba(255, 255, 255, 0.3)
}

.services {
	padding: 35px 20px 86px 20px;
	background: #262626;
	position: relative;
}

.services__flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
	align-self: center;
}

.services .h_2 {
	color: #fff;
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
	display: block;
}

.form {
	display: block;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.inner {
	display: flex;
	align-items: center;
	height: 40px;
	box-sizing: border-box;
	padding: 10px 20px 10px 10px;
	border: 1px solid #fff;
	border-radius: 10px;
}

.input {
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;
	font-size: 16px;
	color: #fff;
	width: 120px;
	transition: width 0.3s ease;
}

.search_img {
	margin-right: 5px;
	padding: 0;
	display: flex;
	align-items: center;
	color: #fff;
	margin-top: 10px;
}

.form:focus-within {
	background: rgba(0, 0, 0, 0.05);
}

.inner button {
	padding: 3px;
	line-height: 0;
	background: transparent;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	border: none;
	outline: none;
	display: none;
}

.inner button svg path {
	fill: #ffffff;
}

.clear:focus,
.clear:hover,
.close:focus svg path,
.close:hover svg path {
	fill: #424242;
	color: #fff;
	transition: all 0.3s ease;
}

.input:focus {
	width: 200px;
	cursor: initial;
}

.bulkhead {
	width: 1px;
	height: 100%;
	background: #fff;
	margin: 0 5px;
	display: none;
}

.form:focus-within .clear,
.form:focus-within .close,
.form:focus-within .bulkhead {
	display: block;
}  

.service-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow: hidden;
}


.service-list article {
	  position: relative;
	  margin: auto;
	  overflow: hidden;
		width: 300px;
		height: 420px;
		padding: 5px;
}

.service-list article img {
	max-width: 100%;
	transition: all 0.3s;
	display: block;
	width: 100%;
	height: auto;
	transform: scale(1);
	border-radius: 10%;
}

.service-list article img:hover {
	transform: scale(1.1);
	border-radius: 10px;
}


.service-list article .hidden {
	display: none;
}

.service-list article:not(:last-child) {
	margin-bottom: 50px;
}


.service-list a {
	margin-bottom: 20px;
}

.service-list article h3 {
	font-family: 'Lato', serif;
	color: #fff;
	font-style: normal;
	font-size: 19px;
	line-height: normal;
	text-align: center;
	margin: 25px 0 10px;
	font-style: italic;
}

.service-list article p {
	font-family: 'Lato', serif;
	font-style: normal;
	color: #d3cbcb;
	font-weight: normal;
	font-size: 14px;
	height: 40px;
	overflow: hidden;
}

.price-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price-button .price {
	font-family: 'Lato',
	serif;
	color: #d3cbcb;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}

.price-button button {
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
	text-transform: uppercase;
	border-radius: 10px;
	padding: 10px 40px; 
	box-sizing: border-box;
	color: #fff;
	background-color: inherit;
	border:1px solid #fff;
	transition: background-color 0.3s ease-in;
	outline: none;
}

article button:active {
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 0 0 1px #fff;
	outline: none;
}

section a {
	text-decoration: none;
}

section a:hover {
	text-decoration: none;
}

article button:hover{
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 0 0 3px #fff;
}

.footer {
	height: 100vh;
	width: 100%;
	position: relative;
	background: url("../img/footer__bottom.jpg") no-repeat;
	background-position: center;
	background-size: cover;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 100;
	opacity: .8;
}

.hour,
.adress,
.phone {
	cursor: pointer;
}

.footer__box {
	position: relative;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	font-family: 'Lato', serif;
	background-color: #d3cbcb;
	color: #000;
	padding: 25px;
	border-radius: 4px;
	position: absolute;
	bottom: 0;
	width: 100%;
} 

.footer .phone img,
.footer .hour img,
.footer .adress img {
	margin-right: 15px;
	width: 33px;
	color: #fff;
}

.footer a {
	font-size: 15px;
	position: relative;
	color: #101111;
	cursor: pointer;
	line-height: 1;
	text-decoration: none;
}

.footer a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #636865;
	content: "";
	transition: width 0.3s ease-out;
}

.footer a:hover:after,
.footer a:focus:after {
	width: 100%;
}

.arrow-top {
	position: fixed;
	right: -100px;
	top: 25px;
	z-index: 300;
	cursor: pointer;
	transition: all 0.5s ease;
}


.arrow-top.active {
	right: 25px;
}

@media (min-width: 1024px) {
	.logo a {
		text-align: center;
		font-size: 40px;
		line-height: 40px;
	}
}

@media (max-width: 850px) {
	
	.logo a {
		text-align: center;
		font-size: 35px;
		line-height: 35px;
	}

	.offer h1 {
		font-size: 80px;
	}

	.services__flex {
		display: block;
	}

	.services .h_2 {
		text-align: center;
	}

	.wrapper {
		justify-content: center;
	}

	.menuToggle {
		display: block;
	}

	.menu {
		display: none;
		position: absolute;
		background: lightgrey;
		width: 30%;
		margin-top: 50px;
	}

	.menu li {
		float: none;
	}

	.menu li a {
		color: #000;
	}

	.service-list {
		display: block;
	}

	.service-list article {
		width: 300px;
		margin: 40px auto;
	}

	.footer__box {
		display: block;
		width: 100%;
		margin-top: 443px;
		font-size: 14px;
		text-align: center;
	}

	.footer .phone img,
	.footer .hour img,
	.footer .adress img {
		margin: 5px auto;
		top: -6px;
		width: 26px;
		margin-right: 10px;
	}

	.footer .phone {
		display: block;
		margin: 0 auto;
	}
}


@media(max-width: 640px) {
	.menuToggle {
		display: block;
	}

	.menu {
		display: none;
		position: absolute;
		background: lightgrey;
		width: 30%;
	}

	.menu li {
		float: none;
	}
		
	.menu li a {
		color: #000;
	}

	.services {
		padding: 35px 20px 86px 20px;
	}
	
}

@media (max-width: 360px) { 
	.offer h1 {
		font-size: 70px;
	}
	.price-button {
		justify-content: space-around;
	} 
}
